# Base de données
POSTGRES_DB=termconsole
POSTGRES_USER=termconsole
POSTGRES_PASSWORD=coucou

# Redis
REDIS_URL=redis://redis:6379/0


# Backend
DATABASE_URL=postgresql+asyncpg://termconsole:coucou@postgres:5432/termconsole
SECRET_KEY=changez_cette_cle_secrete_en_production_32_chars_minimum
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Ansible
ANSIBLE_BASE_PATH=/ansible

# Frontend
VITE_API_URL=http://backend:8000 # URL du serveur backend
FRONTEND_PORT=5173
